*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    font-family: sans-serif;
    color:white;
}
header{
    width: 100%;
    background-image: radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)),url(image/netflix_wl.jpg);
    background-repeat: no-repeat;
    padding: 10px;
    min-height: 600px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;

}
nav a img{
    width: 180px;
}
nav .log-in{
    padding: 15px 0;

}
nav select{
    margin: 0 5px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    padding: 7px 15px;
} 

nav button.Sign-in{
    text-decoration: none;
    color: white;
    border: transparent;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    padding: 7px 15px;
    
}
nav button.Sign-in:hover{
    background-color: rgb(197, 19, 19);
}
center{
    padding: 30px;
    margin: 100px 0;
    flex-wrap: wrap;
}

h1{
    font-size: 40px;
    font-weight: bolder;
    padding: 20px 0;
}
 header input{
    background-color: transparent;
    border: 2px solid rgb(80, 75, 75);
    padding:15px;
    width: 330px;
    border-radius: 5px;
    font-size: large;
    margin: 20px 0;
    color: white;

}
.start-button{
    padding: 15px;
    width: 150px;
    font-size: large;
    background-color: red;
    color: white;
    border: transparent;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
}
.start-button:hover{
    background-color: rgb(197, 19, 19);
}
p{
    font-size: larger;
}

hr{
    height: 8px;
    border: transparent;
    background-color: rgb(37, 35, 35);
} 
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
} 
.col img{
    width: 430px;
}
.row .col{
    padding: 40px 20px;
}
.accordion{
     padding: 40px 10%;

}
.accordion h1{
    text-align: center;
}
.container{
    margin-top: 15px;
    background-color: rgb(37, 35, 35);
}
.container label{
    font-size: 20px;
}

.container label::before{
    content: '+';
    position: relative;
    left: 90%;
    font-size: 40px;
}
.accordion input{
    background-color: transparent;
    border: 2px solid rgb(80, 75, 75);
    padding:15px;
    width: 330px;
    border-radius: 5px;
    font-size: large;
    margin: 30px 0;
    color: white;

}
.center{
    padding: 0;
    margin: 0;
    
}
.accordion p{
    margin: 30px 0 0;
}


footer{
    min-height: fit-content; 
      padding: 20px ;
    color: lightgray;
}
footer .footer-row{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;

}
.footer-col{
    margin-right: 50px;
}
select{
     margin: 15px 20px;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
     padding:5px 10px;
    border-radius: 5px;
    
}
ul li{
    margin: 10px 10px;
    list-style: none;
}
li a{
     color: lightgray;
}
h4 a{
    color: lightgray;
}
footer h4{
    position: relative;
    
}
@media(max-width:450px){
    .footer-col{
        margin-right: 10px;

    }
}
@media (max-width:600px) {
    header input{
        width: 100%;
    }
    .accordion input{
        width: 100%;
    }
    nav a img{
        width: 100px;
    }
    h1{
        font-size: 15px;
    font-weight: bold;
    }
    
    p{
        font-size: large;
    }
    .start-button{
        width: 200px;
    }

nav button.Sign-in{
    padding: 7px 10px;
  
}
nav select{
    margin: 0 5px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
 padding: 5px 0;
} 
center{
    margin: 50px 0;
}
 
}
@media (max-width:800px){
    h1{
        font-size: 30px;
    font-weight: bold;
    }
}
@media (max-width:1100px) {
   #row-2, #row-4{
        flex-wrap: wrap-reverse;
    }
    
}
    
